header{
    background-color: rgb(243, 172, 228);
}

h1{
    font-family: "Sofia", sans-serif;
    color: darkmagenta;
}
h2{
    color: blanchedalmond;
    font-family: "Audiowide", sans-serif;
}

img {
    width: 300px;
    height: 320px;
}

footer {
    background-color: rgb(204, 141, 175);
}
section{
    background-color: rgb(230, 208, 225);
}